name: Success Test with Docker

on:
  workflow_dispatch:
  push:
    branches:
      - main
      - feature/**
      - experiment/**

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build Docker image
        run: |
          docker compose -f compose.test.success.yaml build

      - name: Run success test
        id: test
        continue-on-error: true
        run: |
          docker compose -f compose.test.success.yaml up --exit-code-from test-with-docker

      - name: Workflow completion
        if: always()
        run: |
          echo "Workflow execution completed"
